.name {
/*    margin-right: 1em;*/
    font-weight: bold;
    font-style: italic;
}

.chat-inputs {
	margin-top: 1em;
}

.msgs {
	margin-top: 2em;
	margin-bottom: 10em;
}

.msgRow {
	margin-bottom: 0.25em;
}

.chat-title {
	margin-top: 1em;
	font-size: 2em;
	font-style: italic; 
}
