
.score-value {
	font-weight: bold;
}

.game-board {
	margin-top: 3em;
}

.game-square {
	background-color: silver;
	height: 8em;
	text-align: center;
	vertical-align: middle;
}

.middle-row, 
.bottom-row {
	margin-top: 3em;
}

.not-played {
	padding-top: 3em;
	font-size: 3em;
}

.new-game {
	margin-bottom: 2em;
}