
.score-total {
    margin-top: 2em;
    text-align: center;
}

.sale-image {
    margin-top: 1em; 
    text-align: center;
}

.app-title-div {
    margin-top: 0.25em; 
    text-align: center;
}

.app-title {
    font-size: 4em;
}

.desc {
    font-style: italic;
    font-size: 2em;
}

.add-score {
    margin-top: 1em;
    text-align: center;
}


.score-value {
	font-weight: bold;
}

.game-board {
	margin-top: 3em;
}

.game-square {
	background-color: silver;
	height: 2.75em;
    font-size: 3em;
    /* CSS flexible boxes make centering much easier! */
    /* https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-row, 
.bottom-row {
	margin-top: 3em;
}

.not-played {
    cursor: pointer;
}

.new-game {
	margin-bottom: 2em;
}