
.score-value {
	font-weight: bold;
}

.game-board {
	margin-top: 3em;
}

.game-square {
	background-color: silver;
	height: 2.75em;
    font-size: 3em;
    /* CSS flexible boxes make centering much easier! */
    /* https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-row, 
.bottom-row {
	margin-top: 3em;
}

.not-played {
    cursor: pointer;
}

.new-game {
	margin-bottom: 2em;
}